<div class="partner">
    <div class="container">
        <div class="header">
            <div class="back">

            </div>
            <h3>Partners</h3>
        </div>
        <div class="part-cont">
            <div class="row cont-center">
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/01-moe 1.png" alt="part1">
                    </div>
    
                </div>
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/2020.png" alt="part1">
                    </div>
    
                </div>
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/03-mathnasium 1.png" alt="part1">
                    </div>
    
                </div>
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/04-Cambridge 1.jpg" alt="part1">
                    </div>
    
                </div>
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/05-Microsoft 1.png" alt="part1">
                    </div>
    
                </div>
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/06-uae2pm 1.png" alt="part1">
                    </div>
    
                </div>
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/logo 2.png" alt="part1">
                    </div>
    
                </div>
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/Logo-B 1.png" alt="part1">
                    </div>
    
                </div>
            
          
                <div class="col-md-3">
                    <div class="part">
                        <img src="./assets/img/Group-2.png" alt="part1">
                    </div>
    
                </div>
                <div class="col-3">
                    <div class="part">
                        <img src="./assets/img/surface1.png" alt="part1">
                    </div>
    
                </div>
            </div>


           
          
        </div>
        
    </div>

    <div class="mobile">
        <!--slider for mobile screen-->
  <!-- Carousel wrapper -->
  <div id="carouselBasicExample" class="carousel slide carousel-fade text-center" data-mdb-ride="carousel">
      <!-- Indicators -->
          <div class="carousel-indicators">
              <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
          </div>

      <!-- Inner -->
          <div class="carousel-inner">
      <!-- Single item -->
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/Group-2.png" alt="part1">
                          </div>

                      </div>
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/2020.png" alt="part1">
                          </div>

                      </div>
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/03-mathnasium 1.png" alt="part1">
                          </div>

                      </div>
                  </div>
              </div>

              <!-- Single item -->
              <div class="carousel-item">
                  <div class="row">
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/04-Cambridge 1.jpg" alt="part1">
                          </div>

                      </div>
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/05-Microsoft 1.png" alt="part1">
                          </div>
          

                      </div>
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/06-uae2pm 1.png" alt="part1">
                          </div>

                      </div>
                  </div>
              </div>

              <!-- Single item -->
              <div class="carousel-item">
                  <div class="row">
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/logo 2.png" alt="part1">
                          </div>

                      </div>
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/Logo-B 1.png" alt="part1">
                          </div>

                      </div>
                      <div class="col">
                          <div class="part">
                              <img src="./assets/img/Group-2.png" alt="part1">
                          </div>

                      </div>
                  </div>
              </div>
              
          </div>
      <!-- Inner -->
      </div>
      <!-- Carousel wrapper -->

  </div>
</div>
